output old.txt
output.txt
bactinit.csv


export/.~lock.animal_model_run.csv#
export/animal_model_run.csv
export/farm_1-animal_model_run.csv
export/heifers.csv
export/archived_runs/100921_animal_model_run.csv
export/split_model_run.csv
export/batch_model_run.csv
export/seasonal_model_run.csv
export/continuous_model_run.csv
export/seasonal_model_run.csv
Seasonally Calving Herds.html
lib/crosstalk-1.1.1/css/crosstalk.css
lib/crosstalk-1.1.1/js/crosstalk.js
lib/crosstalk-1.1.1/js/crosstalk.js.map
lib/crosstalk-1.1.1/js/crosstalk.min.js
lib/crosstalk-1.1.1/js/crosstalk.min.js.map
lib/htmlwidgets-1.5.4/htmlwidgets.js
lib/jquery-3.5.1/jquery-AUTHORS.txt
lib/jquery-3.5.1/jquery.js
lib/jquery-3.5.1/jquery.min.js
lib/jquery-3.5.1/jquery.min.map
lib/plotly-binding-4.9.4.1/plotly.js
lib/plotly-htmlwidgets-css-1.57.1/plotly-htmlwidgets.css
lib/plotly-main-1.57.1/plotly-latest.min.js
lib/typedarray-0.1/typedarray.min.js
export/seasonal_model_run.csv
export/seasonal_model_run.csv
export/seasonal_model_run.csv
export/Split Calving Herds.html
export/lib/crosstalk-1.1.1/css/crosstalk.css
export/lib/crosstalk-1.1.1/js/crosstalk.js
export/lib/crosstalk-1.1.1/js/crosstalk.js.map
export/lib/crosstalk-1.1.1/js/crosstalk.min.js
export/lib/crosstalk-1.1.1/js/crosstalk.min.js.map
export/lib/htmlwidgets-1.5.4/htmlwidgets.js
export/lib/jquery-3.5.1/jquery-AUTHORS.txt
export/lib/jquery-3.5.1/jquery.js
export/lib/jquery-3.5.1/jquery.min.js
export/lib/jquery-3.5.1/jquery.min.map
export/lib/plotly-binding-4.9.4.1/plotly.js
export/lib/plotly-htmlwidgets-css-1.57.1/plotly-htmlwidgets.css
export/lib/plotly-main-1.57.1/plotly-latest.min.js
export/lib/typedarray-0.1/typedarray.min.js
export/seasonal_model_run.csv
export/Batch Calving Herds.html
export/initial_positions.csv
r_scripts/initial_positions.r
export/Initial Agent Positions.html
export/split_initial_positions.csv
r_scripts/initial_positions.r
export/Initial Agent Positions (Split).html
export/batch_initial_positions.csv
export/Initial Agent Positions (Batch).html
export/seasonal_positions.csv
export/Seasonal position animation.html
export/.~lock.seasonal_positions.csv#
export/seasonal_initial_positions.csv
export/Initial Agent Positions (Seasonal).html
export/seasonal_contacts.csv
export/seasonal_culling.csv
export/.~lock.seasonal_contacts.csv#
export/Seasonal calf positions.html
export/Seasonal contacts.html
export/Seasonal cow positions.html
.gitignore
export/Seasonal infection dynamics.html
.gitignore
export/Seasonal cullign reason.html
export/bacterial_model_run.csv
.gitignore
export/bacterial_positions.csv
export/bactoanim.gif
export/.~lock.bacterial_positions.csv#
.test.gif
test.gif
export/animal_abm_agents.csv
export/trades.csv
output_receipt.txt
output_receipt.txt
output_receipt.txt
export/.~lock.split_model_run.csv#
export/animation.gif
export/splt_model_run.csv
export/tmp.csv
r_scripts/data/table_one.csv
export/.~lock.seasonal_model_run.csv#
animal_model.sh
farm_model.sh
push_to_spartan.sh
spartan_login.sh
spartan-queue.sh
export_plots.sh
export/bact_na.csv
export/animal_na.csv
export/all_na.csv
export/.~lock.all_na.csv#
export/.~lock.animal_na.csv#
src/run
data
data.jld
.gitignore
runs.jld
export/plots/res_100sim.png
export/plots/carrier_r_100sim.png
export/plots/lactating_100sim.png
export/plots/p_carriers_100sim.png
export/plots/recovered_100sim.png
export/plots/recovered_1000sim.png
export/plots/res_1000sim.png
export/plots/res_carriers_100sim.png
export/plots/res_inc_1000sim.png
export/plots/resistant - 10 sims 10 years.png
export/plots/sens_100sim.png
export/plots/suscep_inc_1000sim.png
.vscode/configurationCache.log
simrun_amu.jld2
simrun_vacc.jld2
simrun.jld2
.vscode/dryrun.log
.vscode/targets.log
export/simrun.jld2
pop_r_anim.gif
Project.toml
simrun_1.jld2
simrun_2.jld2
simrun_21.jld2
simrun_hash(1).jld2
export/plots/Number recovered (clinical treatment @100%, 5 days) (10 runs).png
export/plots/Number recovered (FPT @ 30%) (10 runs).png
export/plots/Number recovered (no parametrisation) (10 runs).png
export/plots/Number recovered (vaccination @ 100%) (10 runs).png
export/plots/Number recovered y3 (clinical treatment @100%, 5 days) (10 runs).png
export/plots/Number recovered y3 (FPT @ 30%) (10 runs).png
export/plots/Number recovered y3 (no parametrisation) (10 runs).png
export/plots/Number recovered y3 (vaccination @ 100%) (10 runs).png
export/plots/Percentage infected (clinical treatment @100%, 5 days) (10 runs).png
export/plots/Percentage infected (FPT @ 30%) (10 runs).png
export/plots/Percentage infected (no parametrisation) (10 runs).png
export/plots/Percentage infected (vaccination @ 100%) (10 runs).png
export/plots/Percentage infected y3 (clinical treatment @100%, 5 days) (10 runs).png
export/plots/Percentage infected y3 (FPT @ 30%) (10 runs).png
export/plots/Percentage infected y3 (no parametrisation) (10 runs).png
export/plots/Percentage infected y3 (vaccination @ 100%) (10 runs).png
export/plots/Percentage susceptible (clinical treatment @100%, 5 days) (10 runs).png
export/plots/Percentage susceptible (FPT @ 30%) (10 runs).png
export/plots/Percentage susceptible (no parametrisation) (10 runs).png
export/plots/Percentage susceptible (vaccination @ 100%) (10 runs).png
export/plots/Percentage susceptible y3 (clinical treatment @100%, 5 days) (10 runs).png
export/plots/Percentage susceptible y3 (FPT @ 30%) (10 runs).png
export/plots/Percentage susceptible y3 (no parametrisation) (10 runs).png
export/plots/Percentage susceptible y3 (vaccination @ 100%) (10 runs).png
tmp/archive/amu_1.jld2
tmp/archive/amu_2.jld2
tmp/archive/amu_3.jld2
tmp/archive/amu_4.jld2
tmp/archive/amu_5.jld2
tmp/archive/amu_6.jld2
tmp/archive/amu_7.jld2
tmp/archive/amu_8.jld2
tmp/archive/amu_9.jld2
tmp/archive/amu_10.jld2
tmp/
amu_1.jld2
.gitignore
.amu_1.jld2
simrun_bacthread1.jld2
runs/01_11_22/fpt_1.jld2
runs/01_11_22/simrun_unparm1.jld2
runs/01_11_22/vacc_1.jld2
export/plots/Number recovered AMU @ 50% (10 runs).png
export/plots/Number recovered FPT @ 50% (10 runs).png
export/plots/Number recovered Unparametrised (10 runs).png
export/plots/Number recovered Vaccination @ 100_80% (10 runs).png
export/plots/Number recovered y3 AMU @ 50% (10 runs).png
export/plots/Number recovered y3 FPT @ 50% (10 runs).png
export/plots/Number recovered y3 Unparametrised (10 runs).png
export/plots/Number recovered y3 Vaccination @ 100_80% (10 runs).png
export/plots/Percentage infected AMU @ 50% (10 runs).png
export/plots/Percentage infected FPT @ 50% (10 runs).png
export/plots/Percentage infected resistant AMU @ 50% (10 runs).png
export/plots/Percentage infected Unparametrised (10 runs).png
export/plots/Percentage infected Vaccination @ 100_80% (10 runs).png
export/plots/Percentage infected y3 AMU @ 50% (10 runs).png
export/plots/Percentage infected y3 FPT @ 50% (10 runs).png
export/plots/Percentage infected y3 Unparametrised (10 runs).png
export/plots/Percentage infected y3 Vaccination @ 100_80% (10 runs).png
export/plots/Percentage susceptible AMU @ 50% (10 runs).png
export/plots/Percentage susceptible FPT @ 50% (10 runs).png
export/plots/Percentage susceptible Unparametrised (10 runs).png
export/plots/Percentage susceptible Vaccination @ 100_80% (10 runs).png
export/plots/Percentage susceptible y3 AMU @ 50% (10 runs).png
export/plots/Percentage susceptible y3 FPT @ 50% (10 runs).png
export/plots/Percentage susceptible y3 Unparametrised (10 runs).png
export/plots/Percentage susceptible y3 Vaccination @ 100_80% (10 runs).png
src/unparm_split.jl
Split simrun_unparm_1.jld2
simrun_unparm1.jld2
simrun_mainthread1.jld2
src/neighbours.csv
src/sims.csv
src/export/plots/Number recovered Split (amu) (10 runs).png
src/export/plots/Number recovered Split (unparm) (10 runs).png
src/export/plots/Number recovered Split (vacc) (10 runs).png
src/export/plots/Number recovered y3 Split (amu) (10 runs).png
src/export/plots/Number recovered y3 Split (unparm) (10 runs).png
src/export/plots/Number recovered y3 Split (vacc) (10 runs).png
src/export/plots/Percentage infected Split (amu) (10 runs).png
src/export/plots/Percentage infected Split (unparm) (10 runs).png
src/export/plots/Percentage infected Split (vacc) (10 runs).png
src/export/plots/Percentage infected y3 Split (amu) (10 runs).png
src/export/plots/Percentage infected y3 Split (unparm) (10 runs).png
src/export/plots/Percentage infected y3 Split (vacc) (10 runs).png
src/export/plots/Percentage susceptible Split (amu) (10 runs).png
src/export/plots/Percentage susceptible Split (unparm) (10 runs).png
src/export/plots/Percentage susceptible Split (vacc) (10 runs).png
src/export/plots/Percentage susceptible y3 Split (amu) (10 runs).png
src/export/plots/Percentage susceptible y3 Split (unparm) (10 runs).png
src/export/plots/Percentage susceptible y3 Split (vacc) (10 runs).png
src/runs/01_11_22/fpt_1.jld2
src/runs/01_11_22/vacc_1.jld2
src/runs/01_18_22/simrun_mainthread2.jld2
src/runs/01_18_22/simrun_mainthread3.jld2
src/runs/01_18_22/simrun_mainthread4.jld2
src/runs/01_18_22/simrun_mainthread5.jld2
src/runs/01_18_22/simrun_mainthread6.jld2
src/runs/01_18_22/simrun_mainthread7.jld2
src/runs/01_18_22/simrun_mainthread8.jld2
src/runs/01_18_22/simrun_mainthread9.jld2
src/runs/01_18_22/simrun_mainthread10.jld2
src/runs/01_18_22/Split simrun_amu_1.jld2
src/runs/01_18_22/Split simrun_amu_2.jld2
src/runs/01_18_22/Split simrun_amu_3.jld2
src/runs/01_18_22/Split simrun_amu_4.jld2
src/runs/01_18_22/Split simrun_amu_5.jld2
src/runs/01_18_22/Split simrun_amu_6.jld2
src/runs/01_18_22/Split simrun_amu_7.jld2
src/runs/01_18_22/Split simrun_amu_8.jld2
src/runs/01_18_22/Split simrun_amu_9.jld2
src/runs/01_18_22/Split simrun_amu_10.jld2
src/runs/01_18_22/Split simrun_vacc_1.jld2
src/runs/01_18_22/Split simrun_vacc_2.jld2
src/runs/01_18_22/Split simrun_vacc_3.jld2
src/runs/01_18_22/Split simrun_vacc_4.jld2
src/runs/01_18_22/Split simrun_vacc_5.jld2
src/runs/01_18_22/Split simrun_vacc_6.jld2
src/runs/01_18_22/Split simrun_vacc_7.jld2
src/runs/01_18_22/Split simrun_vacc_8.jld2
src/runs/01_18_22/Split simrun_vacc_9.jld2
src/runs/01_18_22/Split simrun_vacc_10.jld2
src/output/vacc_1000.jld2
output/vacc_1000.jld2
